<div class="row">
    <div class="col-12">
        <%
            let group_counter = 0;
            const unsupported_size = masking_groups._UNSUPPORTED_ ? masking_groups._UNSUPPORTED_.length : 0;

            let total_size = 0;
            for (mask_label in masking_groups) {
                total_size += masking_groups[mask_label].length
            }
            const supported_size = total_size - unsupported_size;

            const supported_class = show === 'supported' ? 'btn-gray' : 'btn-link';
            const unsupported_class = show === 'supported' ? 'btn-link' : 'btn-gray';
        %>
        <button data-mask-type="supported" class="btn <%= supported_class %>">Valid Scans (<%= supported_size %>)</button>
        <button data-mask-type="unsupported" class="btn <%= unsupported_class %>">Unsupported Scans (<%= unsupported_size %>)</button>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <% for (mask_label in masking_groups) { %>
            <% 
                if (
                    (show === 'supported' && mask_label === '_UNSUPPORTED_') ||
                    (show !== 'supported' && mask_label !== '_UNSUPPORTED_')
                ) continue; 

                group_counter++;

                const target_size = 4;
                // let first_scan = masking_groups[mask_label][0];
                let scans = []
                if (masking_groups[mask_label].length >= target_size) {
                    scans = masking_groups[mask_label].slice(0,target_size);
                } else {
                    scans = [].concat(masking_groups[mask_label]);
                    let scans_size = scans.length
                    scans.length = target_size;
                    scans.fill({imgDataUrl: false}, scans_size, target_size)
                }
            %>

            <%
            const unapproved = masking_groups[mask_label].filter(_scan => _scan.approved === false)
            const group_approved_class = unapproved.length > 0 ? '' : 'group_approved'
            const approved_icon = unapproved.length === 0 
                ? '<i class="fas fa-check-circle" style="color: green; margin-left: 4px;"></i>' : 
                '<i class="fas fa-exclamation-circle" style="color: orange; margin-left: 4px;"></i>'
            %>
            
            <div class="mask-group-row d-flex flex-row align-items-center <%= group_approved_class %>">
                <div class="p-2">
                    <table>
                        <tr>
                            <td>
                                <% if (scans[0].imgDataUrl) { %>
                                    <img src="<%- scans[0].imgDataUrl %> " alt="">
                                <% } else { %>
                                    N/A
                                <% } %> 
                            </td>
                            <td>
                                <% if (scans[1].imgDataUrl) { %>
                                    <img src="<%- scans[1].imgDataUrl %> " alt="">
                                <% } else { %>
                                    N/A
                                <% } %> 
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <% if (scans[2].imgDataUrl) { %>
                                    <img src="<%- scans[2].imgDataUrl %> " alt="">
                                <% } else { %>
                                    N/A
                                <% } %> 
                            </td>
                            <td>
                                <% if (scans[3].imgDataUrl) { %>
                                    <img src="<%- scans[3].imgDataUrl %> " alt="">
                                <% } else { %>
                                    N/A
                                <% } %> 
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="p-2" style="flex-grow: 1;">
                    <%
                    let scan_label = masking_groups[mask_label].length === 1 ? 'scan' : 'scans'
                    %>
                    <h4>Group <%- group_counter %> (<%= masking_groups[mask_label].length %> <%= scan_label %>)</h4>
                    <ul>
                        <li><span>Modality:</span> 
                            <%= masking_groups[mask_label][0].modality %></li>

                            
                        <li><span>SOP Class:</span>
                            <%= findSOPClassUID(masking_groups[mask_label][0].SOPClassUID)['label'] %></li>

                        <li><span>Resolution:</span> 
                            <%= masking_groups[mask_label][0].Rows %>x
                            <%= masking_groups[mask_label][0].Columns %></li>
                        
                        <li><span>Color:</span>
                            <%= masking_groups[mask_label][0].PhotometricInterpretation %></li>
                        <li><span>Templates: <%= masking_groups[mask_label][0].matchingMasks.length %></span> </li>
                    </ul>
                </div>
                <div class="p-2" style="height: 220px; position: relative;">
                    <div style="margin-top: 5px; font-size: 20px;">Approved for upload: 
                        <%= masking_groups[mask_label].length - unapproved.length %> of 
                        <%= masking_groups[mask_label].length %> 
                        <%- approved_icon %> 
                    </div>
                    <button
                        style="position: absolute; top: 50%; right: 8px; transform: translateY(-50%);"
                        data-review-mask-alias="<%= mask_label %>" 
                        class="btn btn-blue"
                    >Review <i class="fas fa-search"></i></button>
                </div>
            </div>
        <% }; %>
    </div>
</div>