<div id="review-series-images-done" style="display: none; text-align: center; margin: 10px;">
    <p>All scans in this group are approved.</p>
    <button type="button" data-dismiss="modal" class="btn btn-gray">Back to scan groups</button>
</div>

<% for(let i = 0; i < selected_scans.length; i++) { %>
    <%
    const row = selected_scans[i]
    const imgSrc = imgDataImages[i]
    %>

    <input type="checkbox" 
        id="scan_<%= row.id%>" 
        class="scan_checkbox" 
        name="selected_scan[]" 
        data-session-id="<%= row.sessionId %>"
        data-series-id="<%= row.id %>"
        data-study-instance-uid="<%= row.studyInstanceUid %>"
        value="<%= row.studyId%>">
    <label class="scan-review-item" for="scan_<%= row.id%>">
        <h3><%= row.seriesNumber%></b>: <%= row.seriesDescription%></h3>
        <div class="img-data"><img src="<%= imgSrc %> "></div>
        
        <span 
        data-toggle="popover" 
        class="has-popover"
        title="Scan ID: <%= row.studyId%>" 
        data-content="<%- include('scan_review_tooltip', {row}); %>"
        data-html="true"
        >
        <i class="fas fa-info-circle"></i>
        </span>

        <i class="mark-approved far fa-check-circle"></i>
    </label>

<% } %>