<ul class='scan-review-tooltip'>
    <li><b>Study:</b> <%= row.studyId%> - <%= row.studyDescription%></li>
    <li><b>Series:</b> <%= row.seriesNumber%></b>: [<%= row.seriesDescription%>]</li>
    <li><b>Modality:</b> <%= row.modality%></li>
    <li><b>Frames:</b> <%= row.frames%></li>
    <li><b>Date:</b> <%= row.studyDate%> <%= row.studyTime%></li>
</ul>