
<% let counter = 0; %>
<% for (template of templates) { %>
    <% counter++ %> 

    <div class="row mb-3">
        <div class="col-4">
            <canvas id="myCanvas_<%= counter %>" 
                width="<%= template.data.Columns %>" 
                height="<%= template.data.Rows %>" 
                style="border:1px solid #d3d3d3;width: 100%; background: #eee;"></canvas>
    
            <%
                setTimeout((template, counter) => {
                    console.log("myCanvas_" + counter)
                    let c = document.getElementById("myCanvas_" + counter);
                    console.log({c})
                    for (rectangle of template.rectangles) {
                        var ctx = c.getContext("2d");
                        ctx.beginPath();
                        ctx.fillStyle = "#777";
                        var w = rectangle[2] - rectangle[0]
                        var h = rectangle[3] - rectangle[1]
                        ctx.fillRect(rectangle[0], rectangle[1], w, h);
                    }
                }, 0, template, counter);
            %>
        </div>
        <div class="col-8">
            <h5><%= template.alias %> </h5>
            <p class="mb-0">Created <%= moment(template.created).format('MM/DD/YY') %> </p>
            <p class="mb-0">by <%= template.author %> </p>
    
            <div class="d-flex justify-content-between bd-highlight mt-3">
                <button class="btn btn-gray" data-apply-canvas-id="myCanvas_<%= counter %>">Apply</button>
                <button class="btn btn-gray">Edit</button>
            </div>
        </div>
    
    </div>

<% } %>
